* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info {
    display: flex;
    justify-content: flex-end;
    color: #F47920;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 20px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    max-width: 800px;
    width: 20%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    text-align: left;
    font: Regular 15px/19px Comfortaa;
    letter-spacing: 0px;
    opacity: 1;
}

.flex-close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: flex-end;
}

.close {
    font: Regular 15px/19px Comfortaa;
    background: transparent url('../../assets/images/close.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    line-height: 25px;
    text-align: center;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
}