.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.header-container h1 {
    font-weight: bold;
    font-size: 27px;
    color: #000000;
    opacity: 1;
    margin: 18px 20px;
}

.back {
    color:#F47920;
    margin: 10px 0px;
    font-size: 30px;
}


.header-container a{
    color:#F47920;
}
