@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


html,
body,
#root {
    height: 100%;
    position: absolute;
    left: 33%;
    background: #FFFFFF ;
}

body {
    font: 16px/17px 'Comfortaa', cursive;
    width: 100%;
    color: #333;
    -webkit-font-smoothing: antialiased !important;
}

ul {
    list-style: none;
}