.background-saldo {
    background: transparent linear-gradient(106deg, #F58220 0%, #F99D1C 53%, #F58220 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.content {
    text-align: left;
    font: Regular 23px/25px Comfortaa;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}