.background-saldo {
    background: transparent linear-gradient(106deg, #F58220 0%, #F99D1C 53%, #F58220 100%) 0% 0% no-repeat padding-box;
    opacity: 1;    
}

.flex-position{
    display: flex;
    justify-content: space-between;
    height: 100px;    
}

.text-saldo-pontos{
    text-align: left;
    font: Regular 11px/13px Comfortaa;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.content {
    font-size: 23px;    
}

.label {
    font-size: 11px;        
    margin-top: 40px;       
}

.pontos{
    margin-right: 40px;
}

.saldo{
    margin-left: 40px;
}